.footer-link {
  color: inherit;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.2s;
}

.footer-link.active-footer-link {
  color: #bdbdbd !important;
  text-decoration: underline !important;
  font-weight: 700;
}
